<h2 mat-dialog-title>Assinar plano</h2>
<mat-dialog-content class="mat-typography">
    <div [formGroup]="subscriptionForm" class="row">
        <mat-form-field class="col s12 mt-15">
            <mat-label>Plano</mat-label>
            <mat-select formControlName="plan">
                <mat-option *ngFor="let plan of plans" [value]="plan">
                    Plano {{plan.name}} - R${{plan.value}},00
                </mat-option>
            </mat-select>
            <mat-error>Por favor, selecione um plano</mat-error>
        </mat-form-field>
        <mat-form-field class="col s12 mt-15">
            <mat-label>Endereço de cobrança</mat-label>
            <mat-select formControlName="address" [disabled]="doesNotHaveAdreesses()">
                <mat-option *ngFor="let address of addresses" [value]="address">
                    {{address.street}} - {{address.number}}
                </mat-option>
            </mat-select>
            <mat-error>Por favor, selecione um endereço de cobrança</mat-error>
        </mat-form-field>
        <div *ngIf="doesNotHaveAdreesses()"
             class="col s12 mt-5">
            <button mat-raised-button
                    (click)="onClickAddAddress()"
                    class="amber darken-4 p-5 white-text">
                <small>Você não possui endereços cadastrados, cadastre um novo.</small>
                <mat-icon>add_box</mat-icon>
            </button>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button
            mat-dialog-close>Cancelar
    </button>
    <button mat-raised-button
            cdkFocusInitial
            (click)="onClickRegisterSubscription()"
            color="primary">
        Assinar
    </button>
</mat-dialog-actions>
