<div class="row fake-modal ">
    <div class="col l5 s4 mt-5 center-align">
        <img src="https://dummyimage.com/400x600/1f1c1f/ffffff&text=Obra">
    </div>
    <div class="col l7 s8">
        <h4>{{data.name}}</h4>
        <p><span>Categoria: </span>{{data.bookCategory.name}}</p>
        <p><span>Autor: </span>{{data.author.name}}</p>
        <p><span>Editora: </span>{{data.publisher.name}}</p>
        <p><span>Ano de lançamento: </span>{{data.bookInfo.releaseDate}}</p>
        <p><span>Sinopse: </span>{{data.bookInfo.synopsis}}</p>
        <p>
            <button mat-raised-button
                    color="primary"
                    (click)="openBook()">
                Ler obra
            </button>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <button mat-mini-fab
                    *ngIf="authService.isLogged()"
                    (click)="onClickFavorite()"
                    class="yellow darken-3">
                <mat-icon>{{favoriteIcon}}</mat-icon>
            </button>
        </p>
    </div>
</div>
